<!DOCTYPE html>
<html>
	<head>
		<title>Golenchi</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/responsive.css" />
	</head>
	<body >
	<div id="status"></div>
		<div class="wrapper-section">
			
				<div  class="main-area">
					<div class="main-logo">
						<img src="images/logo3.jpg" alt=""/>
					</div>
					<div class="main-section">
						<div class="main-left">
							Less than or equal <br/>to 10 employee
								<div class="main-left-subscription">
								<a href="/signUpPage">Start your free subscription</a>
								</div>
						</div>
					
							<div class="main-right">
							More than <br/>10 employee
								<div class="main-right-subscription">
									<a href="/signUpPage">Start your 30 days Free Trial</a>
								</div>
							</div>
					</div>
				</div>
				<footer class="main-footer-section">
						<div class="container">
						<div class="main-footer">
							<p>Copyright 2015. All Right Reserved.</p>
						</div>
						</div>
				</footer>
		</div>

	</body>
</html>