<!DOCTYPE html>
<html>
	<head>
		<title>Golenchi</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/responsive.css" />
	</head>
	<body>
		<div class="wrapper">
			<div class="login-container">
				<div class="container">
					<div class="login-registration-section">
						<div class="logo">
							<img src="images/logo.png" alt=""/>
						</div>
							<div class="column-left-section">
								<div class="login-img-section">
									<img src="images/login-img.jpg" alt="" />
								</div>
							</div>
								<div class="column-right-section">
									<div class="registration-right">
										<div class="form-section">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12">
														<div class="form-group form-group1">
															<label for="url">URL</label>
															<input type="url" class="form-control form-txt1" id="urltxt" name="url" value="" placeholder="Your Url" >
														</div>
												</div>
											</div>
										</div>
										<div class="form-section">
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6 padd-txt4">
														<div class="form-group form-group1">
															<label for="firstname">First Name</label>
															<input type="firstname" class="form-control form-txt1" name="firstname" value="" id="nametxt" placeholder="First Name" >
														</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6 padd-txt5">
														<div class="form-group form-group1">
															<label for="lastname">Last Name</label>
															<input type="lastname" class="form-control form-txt1" name="lastname" value="" id="lasttxt" placeholder="Last Name" >
														</div>
												</div>
											</div>
										</div>
										<div class="form-section">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12">
														<div class="form-group form-group1">
															<label for="companyname">Company Name</label>
															<input type="companyname" class="form-control form-txt1" name="companyname" value="" id="companynametxt" placeholder="Company Name" >
														</div>
												</div>
											</div>
										</div>
										<div class="form-section">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12">
														<div class="form-group form-group1">
															<label for="companyaddress">Company Address</label>
															<input type="companyaddress" class="form-control form-txt1" value="" name="companyaddress" id="companyaddress" placeholder="Company Address" >
															<input type="companyaddress" class="form-control  form-txt1 form-txt2" value="" name="companyaddress" id="companyaddresstxt" placeholder="Company Address1" >
														</div>
												</div>
											</div>
										</div>
										<div class="form-section">
													<div class="row">
														<div class="col-xs-12 col-sm-6 col-md-6 padd-txt4">
																<div class="form-group form-group1">
																	<label for="city">City</label>
																	<input type="city" class="form-control form-txt1" name="city" value="" id="citytxt" placeholder="City" >
																</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6 padd-txt5">
															<div class="form-group form-group1">
																<label for="state">State</label>
																<input type="state" class="form-control form-txt1" name="state" value="" id="statetxt" placeholder="State" >
															</div>
														</div>
													</div>	
										</div>
										
										<div class="form-section">
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6 padd-txt4">
															<div class="form-group form-group1">
																<label for="zipcode">Zip Code</label>
																<input type="zipcode" class="form-control form-txt1" name="zipcode" value="" id="ziptxt" placeholder="Zip Code" >
															</div>
												</div>
												
												<div class="col-xs-12 col-sm-6 col-md-6 padd-txt5">
														<div class="form-group form-group1">
															<label for="country">Country</label>
															<input type="country" class="form-control form-txt1" name="country" value="" id="countrytxt" placeholder="Country" >
														</div>
												</div>
											</div>
										</div>
										<div class="form-section">
												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-12">
															<div class="form-group form-group1">
																<label for="emailaddress">Email Address</label>
																<input type="emailaddress" class="form-control form-txt1" name="emailaddress" value="" id="emailaddresstxt" placeholder="Email Address" >
															</div>
													</div>
												</div>
												<div class="form-section">
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-12">
																<div class="form-group form-group1">
																	<label for="password">Password</label>
																	<input type="password" class="form-control form-txt1" name="password" value="" id="password" placeholder="Password" >
																</div>
														</div>
													</div>
												</div>
											
										</div>
									</div>
										<div class="subscription-section1">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-6 padd-txt">
													<button type="button" class="input-left-subscription" id="subscriptiontxt" value="" name="subscription">Start Your Free Subscription</button>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-6 padd-txt1">
													<button type="button" class="input-right-subscription" id="freetrialtxt" value="" name="freetrial">Start Your 30 days Free Trial</button>
												</div>
											</div>
										</div>
								</div>
					</div>
				</div>
			</div>
			<footer class="footer-section" ng-include="footerUrl" id="footer"></footer>
		</div>	
	</body>
</html>