@media only screen and (min-width: 999px) and (max-width: 1170px){
	.main-area {
		width:70%!important;
	}

}
@media only screen and (min-width: 768px) and (max-width: 999px){
	 .form-area{
		width:100%!important;
	}
	.login-registration-section{
		width:750px;
	}
	.login-img-section{
		padding:0px 20px 0px 0px;
	}
	.login-img-section img{
		width:100%;
		height:auto;
	}
	.padd-txt{
		padding:5px 15px 0px 15px!important;
	}
	.padd-txt1{
		padding:12px 15px 0px 15px!important;
	}
	.main-area {
		width:80%!important;
	}
	
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	  .form-area{
		width:100%!important;
	}
	.nav-section {
		width:100%;
	}
	.navbar-nav > li > a {
		text-align:left;
	
	}
	.dropdown-menu > li > a {
		color:#fff;
	}
	.login-registration-section{
		width:100%;
	}
	.login-img-section{
		padding:0px 20px 0px 0px;
	}
	.login-img-section img{
		width:100%;
		height:auto;
	}
	.padd-txt{
		padding:5px 15px 0px 15px!important;
	}
	.padd-txt1{
		padding:12px 15px 0px 15px!important;
	}
	.column-left-section{
		width:100%
	}
	.column-right-section{
		width:100%
	}
	.registration-right {
		border-top:1px solid #c7c9c7;
		border-left:none;
		margin:20px 0px 0px;
		padding:20px 0px 0px 0px;
	}
	.login-img-section {
		margin:20px 0px 0px;
	}
	.main-area {
		width:50%!important;
	}
	.main-left{
		width:100%;
		border-right:none;
		padding:0px 0px 15px
	}
	.main-right{
		width:100%;
		padding:15px 0px 0px
	}
	.col-margin {
    margin: 0 0 0 0px !important;
	}
	.sidebar {
		width:100%!important; top:60px;
		}
	.main1 {
		padding-left:15px!important
		}
	.padd-txt2 {
		padding: 5px 16px 15px !important;
	}
	.padd-txt3 {
		padding: 5px 16px 15px 16px !important;
	}
	.padd-txt5 {
    padding: 0 15px 0 16px !important;
	}
	.padd-txt4 {
    padding: 0 15px 0 15px !important;
}
}
@media only screen and (max-width: 479px){
	.container{
		width:300px!important;
		margin: auto auto auto auto!important;
	}
	.login-area-section {
		width:90%;
	}
	.login-area {
		padding:20px 0px 20px 0px ; 
	}
	.form-area{
		width:100%!important;
	}
	.nav-section {
		width:100%;
	}
	.navbar-nav > li > a {
		text-align:left;
	
	}
	.dropdown-menu > li > a {
		color:#fff;
	}
	.text-right {
		text-align: center !important;
	}
	.main {
		margin: 101px 0 0;
	}
	.login-registration-section{
		width:100%;
	}
	.login-img-section{
		padding:0px 20px 0px 0px;
	}
	.login-img-section img{
		width:100%;
		height:auto;
	}
	.padd-txt{
		padding:5px 15px 0px 15px!important;
	}
	.padd-txt1{
		padding:12px 15px 0px 15px!important;
	}
	.column-left-section{
		width:100%
	}
	.column-right-section{
		width:100%
	}
	.registration-right {
		border-top:1px solid #c7c9c7;
		border-left:none;
		margin:20px 0px 0px;
		padding:20px 0px 0px 0px;
	}
	.login-img-section {
		margin:20px 0px 0px;
	}
	.main-area {
		width:100%!important;
	}
	.main-left{
		width:100%;
		border-right:none;
		padding:0px 0px 15px
	}
	.main-right{
		width:100%;
		padding:15px 0px 0px
	}
	.col-margin {
    margin: 0 0 0 0px !important;
	}
	.sidebar {
		width:100%!important; top:60px;
		}
	.main1 {
		padding-left:15px!important
		}
	.padd-txt2 {
		padding: 5px 16px 15px !important;
	}
	.padd-txt3 {
		padding: 5px 16px 15px 16px !important;
	}
	.padd-txt5 {
		padding: 0 15px 0 16px !important;
	}
	.padd-txt4 {
		padding: 0 15px 0 15px !important;
	}
	.profile-section p {
		font-size: 14px;
		line-height: 15px;
		margin:0px;
	}
	.profile-section p img {
		margin: 0 3px 0 0;
		width: 30px;
	}
	.profile-section p span {
		font-size: 12px;
		margin: 3px 0 0;
	}
	.drop-arrow{width:12px!important; line-height:0px;}
}